* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url('stars.png');
  color: white;
  font-family:'sans-serif';
  background-repeat: repeat;
}

header {
  background-image: url('headerbg.png');
  background-size: cover;
  padding: 60px 20px;
  color:black;
  box-sizing: border-box;
}

article.a1 {
  background-color: rgb(42, 42, 42);
  border: 3px solid gray;
  padding: 16px;
  border-radius: 16px;
  margin-top: 16px;
  margin-right: 16px;
}
.glow {
  box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.6);
}
a {
  color: white;
}
a:hover {
  color: lightblue;
}
a.visit {
  color: rgb(255, 255, 255);
}
div.lineem{
  display: flex;
  justify-content: space-around;
}
.acent{
  text-align: center;
  color: rgb(97, 183, 233);
}