body {
  background-color: rgb(47, 47, 47);
  color: white;
  font-family:'sans-serif';
}

header {
  background-color: rgb(92, 92, 92);
  padding: 16px;
  border-radius: 16px;
}

article.a1 {
  background-color: rgb(92, 92, 92);
  padding: 16px;
  border-radius: 16px;
  margin-top: 16px;
  margin-right: auto;
  width: 50%;
}
