body {
  background-color: rgb(47, 47, 47);
  color: white;
  font-family:'sans-serif';
}

header {
  background-color: rgb(64, 63, 63);
  padding: 16px;
  border-radius: 16px;
}

article.a1 {
  background-color: rgb(64, 63, 63);
  padding: 16px;
  border-radius: 16px;
  margin-top: 16px;
  margin-left:auto;
}
